sqlite/data
todo.md
.idea/
.vscode/
**/logs/**/*.lck
**/logs/**/*.log
**/logs/**/*.csv
**/exports/**/*.json*
# **/data/**/*.json*
test.sql
dist/
node_modules/
data_new/
data_new.*
data.*
data_[0-9]*.*
data_[0-9]*/
neo4j/neo4j-etl-tool/neo4j-etl-cli*
cassandra.yaml
transformed/
data_slice2.sql
cassandra.yaml
synopsis.md
**/*.tsv
**/tmp
dumps/*
!data_old.sql